.aside-thanks {
  width: 100%;
  display: flex;
  justify-content: center;
}
.aside-thanks img {
  width: 80%;
}

.text-thanks {
  color: #fff;
}

.text-thanks h1 {
  font-size: 1.4em;
}

.text-thanks p {
  font-weight: 400;
  font-size: 0.7em;
  color: #9197a3;
}

.button-nota {
  display: flex;
  justify-content: center;
}

.button-nota button {
  padding: 12px 28px;
  border: 0;
  border-radius: 18px;
  font-weight: 600;
  background-color: #272f38;
  color: #eb7012;
}

.text-thanks {
  display: flex;
  gap: 12px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.text-thanks p {
  width: 80%;
  text-align: center;
  line-height: 1.8;
}

.text-thanks button {
  background-color: transparent;
  border: 0;
  color: #eb7012;
  font-size: 0.85em;
}
